<%- include('partials/header'); -%>

  <!-- <header> -->
    <!-- <div class="smoothie">
    <img src="/smoothie.png" alt="">
  </div> -->
    <div class="headings">
      <h2> WELCOME!! </h2>
      <h3></h3>
    </div>
  </br>
</br>

    <!-- <a href="/topics" class="btn">View Topics</a>
    <a href="/companies" class="btn">Interview Experiences</a> -->
    <div class="home_container">
      <div class="card">
        <div class="face face1">
          <div class="content">
            <img
              src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/code_128.png?raw=true">
            <h3>Coding Practice</h3>
          </div>
        </div>
        <div class="face face2">
          <div class="content">
            <p style="color: black;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident
              at.</p>
            <a href="/topics">Explore >></a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="face face1">
          <div class="content">
            <img
              src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/launch_128.png?raw=true">
            <h3>Interview Experiences</h3>
          </div>
        </div>
        <div class="face face2">
          <div class="content">
            <p style="color: black;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident
              at.</p>
            <a href="/companies">Explore >></a>
          </div>
        </div>
      </div>
    </div>
  <!-- </header> -->


  <%- include('partials/footer'); -%>