/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body{
  margin: 20px 40px;
  font-size: 1.2rem;
  letter-spacing: 1px;
  background: #000000;
  /* align-content: center; */
}
h1.main-heading{
  font-size:2rem;
  font-weight:bold;
  /* color: #ff5100; */
  text-transform: uppercase;
}
h1,h2, h3, h4, ul, li, a, p, input, label, button, div, footer{
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  color: rgb(255, 255, 255);
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 120px;
}
nav ul{
  display: flex;
  align-items: center;
}
nav li{
  margin-left: 20px;
}
nav li a{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  display: block;
  padding: 10px 16px;
  letter-spacing: 2px;
}
.btn{
  border-radius: 36px;
  background: #ff5100;
}
form h2{
  font-size: 2.4em;
  font-weight: 900;
  margin-bottom: 40px;
}
form{
  width: 360px;
  margin: 0 auto;
  padding: 30px;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.1);
  border-radius: 10px;
  background: rgb(27, 27, 27);
}
input{
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 1em;
  width: 100%;
  color: #000000;
}
label{
  display: block;
  margin: 20px 0 10px;
}
button{
  margin-top: 30px;
  border-radius: 36px;
  background: #ff5100;
  border:0;
  /* text-transform: uppercase; */
  font-weight: 700;
  font-size: 0.8em;
  display: block;
  padding: 10px 16px;
  letter-spacing: 2px;
}
.error{
  color: #ff5100;
  margin: 10px 2px;
  font-size: 0.8em;
  font-weight: bold;
}
header{
  display: flex;
  align-items: center;
}
header img{
  width: 250px;
  margin-right: 40px;
}
header h2{
  font-size: 3em;
  margin-bottom: 10px;
}
header h3{
  font-size: 1.6em;
  margin-bottom: 10px;
  margin-left: 2px;
  color: #999;
}
header .btn{
  margin-top: 20px;
  padding: 12px 18px;
  text-transform: uppercase;  
  font-weight: bold;
  display: inline-block;
  font-size: 0.8em;
}
footer{
  text-align: center;
  margin-top: 200px;
  color: #aaa;
}

/* Full-width input fields */
input[type=text], input[type=password],textarea{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus{
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
/* button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
} */

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
/* .cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
} */

/* Float cancel and signup buttons and add an equal width
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
} */

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #000000;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #292929;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  /* border: 1px solid #888; */
  width: 50%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
 /* hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
} */

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #ff0000;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
/* .clearfix::after {
  content: "";
  clear: both;
  display: table;
} */

div.temp ul{
  counter-reset: index;  
  padding: 0;
  max-width: 300px;
}
div.temp li{
  counter-increment: index; 
  display: flex;
  align-items: center;
  padding: 15px 0;
  box-sizing: border-box;
}

div.temp li::before {
  content: counters(index, ".", decimal-leading-zero);
  font-size: 1.5rem;
  text-align: left;
  font-weight: bold;
  min-width: 50px;
  padding-right: 12px;
  font-variant-numeric: tabular-nums;
  align-self: flex-start;
  background-image: linear-gradient(to bottom, aquamarine, orangered);
  background-attachment: fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


div.temp li + li {
  border-top: 1px solid rgba(255,255,255,0.2);
}

/* a{
  display: block;
  color: white;
  text-decoration: none;
  position: relative;
}

a::after{
  content: "";
  background: white;
	mix-blend-mode: exclusion;
  width: calc(100% + 20px);
  height: 0;
  position: absolute;
  bottom: -4px;
  left: -10px;
	transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

a:hover::after{
	height: calc(100% + 8px)
} */


/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
/* 
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #353540;
} */

.l-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
  width: 100%;
  max-width: 1400px;
  padding: 30px;
}
@media screen and (max-width: 760px) {
  .l-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.b-game-card {
  position: relative;
  z-index: 1;
  width: 100%;
  padding-bottom: 100%;
  perspective: 1000px;
}
.b-game-card__cover {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  background-size: cover;
  perspective-origin: 50% 50%;
  transform-style: preserve-3d;
  transform-origin: top center;
  will-change: transform;
  transform: skewX(0.001deg);
  transition: transform 0.35s ease-in-out;
}
.b-game-card__cover::after {
  display: block;
  content: "";
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background: linear-gradient(226deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.4) 35%, rgba(255, 255, 255, 0.2) 42%, rgba(255, 255, 255, 0) 60%);
  transform: translateY(-20%);
  will-change: transform;
  transition: transform 0.65s cubic-bezier(0.18, 0.9, 0.58, 1);
}
.b-game-card:hover .b-game-card__cover {
  transform: rotateX(7deg) translateY(-6px);
}
.b-game-card:hover .b-game-card__cover::after {
  transform: translateY(0%);
}
.b-game-card::before {
  display: block;
  content: "";
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 6px 12px 12px rgba(0, 0, 0, 0.4);
  will-change: opacity;
  transform-origin: top center;
  transform: skewX(0.001deg);
  transition: transform 0.35s ease-in-out, opacity 0.5s ease-in-out;
}
.b-game-card:hover::before {
  opacity: 0.6;
  transform: rotateX(7deg) translateY(-6px) scale(1.05);
}

.exp div {
  margin: 20px;
  
}

.exp ul {
  list-style-type: none;
  width: 100%;
}

/* .exp h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
} */

.exp li img {
  float: left;
  margin: 0 15px 0 0;
  max-width:100px;
}

.exp li p { 
   font-size:15;
   text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap; 
  width: 75%;    
}

.exp li {
  padding: 10px;
  overflow: auto;
}

.exp li:hover {
  background: rgb(99, 99, 99);
  cursor: pointer;
}

/* body{
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: consolas;
} */

.home_container{
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.home_container .card{
  position: relative;
  cursor: pointer;
}

.home_container .card .face{
  width: 95%;
  height: 200px;
  transition: 0.5s;
}

.home_container .card .face.face1{
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.home_container .card:hover .face.face1{
  background: #ff0057;
  transform: translateY(0);
}

.home_container .card .face.face1 .content{
  opacity: 0.2;
  transition: 0.5s;
  align-items: center;

}

.home_container .card:hover .face.face1 .content{
  opacity: 1;
}

.home_container .card .face.face1 .content img{
  max-width: 100px;
  display: block;
  margin: auto;
}

.home_container .card .face.face1 .content h3{
  margin: 10px 0 0;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
}

.home_container .card .face.face2{
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
}

.home_container .card:hover .face.face2{
  transform: translateY(0);
}

.home_container .card .face.face2 .content p{
  margin: 0;
  padding: 0;
}

.home_container .card .face.face2 .content a{
  margin: 15px 0 0;
  display:  inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #333;
  padding: 5px;
  border: 1px solid #333;
}

.home_container .card .face.face2 .content a:hover{
  background: #333;
  color: #fff;
}

.collapsible {
  background-color: rgb(36, 36, 36);
  color: white;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border: none;
  text-align: left;
  margin-top: 15px;
  outline: none;
  font-size: 15px
}


.active, .collapsible:hover {
  background-color: rgb(54, 54, 54);
}

.details{
  padding: 18px 18px;
  display: none;
  overflow: hidden;
  background-color: #1d1d1d;
} 

